<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="http://db.onlinewebfonts.com/c/f4d1593471d222ddebd973210265762a?family=Pokemon" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}" />
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
        <!--<script src="https://use.fontawesome.com/2d95d28d6c.js"></script>-->>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
        <title>PokeDex</title>
    </head>
    <body>
        <main>
            <nav class="sticky" id="navbar">
              <audio src="{{ url_for('static', filename='audio/johto-champ-bgm.mp3') }}" id="audio" loop></audio>
              <div id="play-btn" style="float:right">
                <a class="playbtnid">
                  <i class="fa fa-play-circle fa-2x" id="play" onclick="play()"></i>
                </a>
              </div>

                <div class="types-container">
                    <div id="normal-btn" style="float:left">
                        <a class="playbtnid">
                            <div class="type-btn" onclick="javascript:location.href='../type/normal'">
                                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/types/generation-ix/scarlet-violet/1.png" alt="Normal">
                            </div>
                        </a>
                    </div>
                    <div id="fighting-btn" style="float:left">
                        <a class="playbtnid">
                            <div class="type-btn" onclick="javascript:location.href='../type/fighting'">
                                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/types/generation-ix/scarlet-violet/2.png" alt="Fighting">
                            </div>
                        </a>
                    </div>
                    <div id="flying-btn" style="float:left">
                        <a class="playbtnid">
                            <div class="type-btn" onclick="javascript:location.href='../type/flying'">
                                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/types/generation-ix/scarlet-violet/3.png" alt="Flying">
                            </div>
                        </a>
                    </div>
                    <div id="poison-btn" style="float:left">
                        <a class="playbtnid">
                            <div class="type-btn" onclick="javascript:location.href='../type/poison'">
                                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/types/generation-ix/scarlet-violet/4.png" alt="Poison">
                            </div>
                        </a>
                    </div>
                    <div id="ground-btn" style="float:left">
                        <a class="playbtnid">
                            <div class="type-btn" onclick="javascript:location.href='../type/poison'">
                                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/types/generation-ix/scarlet-violet/5.png" alt="Ground">
                            </div>
                        </a>
                    </div>
                    <div id="rock-btn" style="float:left">
                        <a class="playbtnid">
                            <div class="type-btn" onclick="javascript:location.href='../type/rock'">
                                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/types/generation-ix/scarlet-violet/6.png" alt="Rock">
                            </div>
                        </a>
                    </div>
                    <div id="bug-btn" style="float:left">
                        <a class="playbtnid">
                            <div class="type-btn" onclick="javascript:location.href='../type/bug'">
                                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/types/generation-ix/scarlet-violet/7.png" alt="Bug">
                            </div>
                        </a>
                    </div>
                    <div id="ghost-btn" style="float:left">
                        <a class="playbtnid">
                            <div class="type-btn" onclick="javascript:location.href='../type/ghost'">
                                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/types/generation-ix/scarlet-violet/8.png" alt="Ghost">
                            </div>
                        </a>
                    </div>
                    <div id="steel-btn" style="float:left">
                        <a class="playbtnid">
                            <div class="type-btn" onclick="javascript:location.href='../type/steel'">
                                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/types/generation-ix/scarlet-violet/9.png" alt="Steel">
                            </div>
                        </a>
                    </div>
                    <!-- Fire Type Button -->
                    <div id="fire-btn" style="float:left">
                        <a class="playbtnid">
                            <div class="type-btn" onclick="javascript:location.href='../type/fire'">
                                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/types/generation-ix/scarlet-violet/10.png" alt="Fire">
                            </div>
                        </a>
                    </div>
                    <!-- Water Type Button -->
                    <div id="water-btn" style="float:left">
                        <a class="playbtnid">
                            <div class="type-btn" onclick="javascript:location.href='../type/water'">
                                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/types/generation-ix/scarlet-violet/11.png" alt="Water">
                            </div>
                        </a>
                    </div>
                    <!-- Grass Type Button -->
                    <div id="grass-btn" style="float:left">
                        <a class="playbtnid">
                            <div class="type-btn" onclick="javascript:location.href='../type/grass'">
                                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/types/generation-ix/scarlet-violet/12.png" alt="Grass">
                            </div>
                        </a>
                    </div>
                    <div id="electric-btn" style="float:left">
                        <a class="playbtnid">
                            <div class="type-btn" onclick="javascript:location.href='../type/electric'">
                                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/types/generation-ix/scarlet-violet/13.png" alt="Electric">
                            </div>
                        </a>
                    </div>
                    <div id="psychic-btn" style="float:left">
                        <a class="playbtnid">
                            <div class="type-btn" onclick="javascript:location.href='../type/psychic'">
                                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/types/generation-ix/scarlet-violet/14.png" alt="Psychic">
                            </div>
                        </a>
                    </div>
                    <div id="ice-btn" style="float:left">
                        <a class="playbtnid">
                            <div class="type-btn" onclick="javascript:location.href='../type/ice'">
                                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/types/generation-ix/scarlet-violet/15.png" alt="Ice">
                            </div>
                        </a>
                    </div>
                    <div id="dragon-btn" style="float:left">
                        <a class="playbtnid">
                            <div class="type-btn" onclick="javascript:location.href='../type/dragon'">
                                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/types/generation-ix/scarlet-violet/16.png" alt="Dragon">
                            </div>
                        </a>
                    </div>
                    <div id="dark-btn" style="float:left">
                        <a class="playbtnid">
                            <div class="type-btn" onclick="javascript:location.href='../type/dark'">
                                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/types/generation-ix/scarlet-violet/17.png" alt="Dark">
                            </div>
                        </a>
                    </div>
                    <div id="fairy-btn" style="float:left">
                        <a class="playbtnid">
                            <div class="type-btn" onclick="javascript:location.href='../type/fairy'">
                                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/types/generation-ix/scarlet-violet/18.png" alt="Fairy">
                            </div>
                        </a>
                    </div>
                    <!-- Other Type Buttons... -->
                    <!-- Add buttons for other types similarly -->
                </div>

              <script>
                  function play() {
                      var audio = document.getElementById('audio');
                      if (audio.paused) {
                          audio.play();
                          $('#play').removeClass('fa-play-circle')
                          $('#play').addClass('fa-stop-circle')
                      }else{
                          audio.pause();
                          audio.currentTime = 0
                          $('#play').addClass('fa-play-circle')
                          $('#play').removeClass('fa-stop-circle')
                      }
                  }
              </script>
              <!--
              <iframe src="/static/johto-champ-bgm.mp3" allow="autoplay" style="display:none" id="iframeAudio"></iframe>
              -->
              <a href="/" class="title-link">
                  <h1>PokeDex</h1>
              </a>
              <h3>via PokeAPI</h3>
              
            </nav>

            
            <!-- within this "app" container we will add our PokeDex entries -->
            <div id="app" class="content">
              <!--
              added extra script tag for holo effect here

              <script>
                  const holographicElement = document.getElementById("holographic");

                  function updateHolographicBackground(value) {
                    const percentage = value * 100;
                    holographicElement.style.backgroundPosition = percentage + "%";
                  }

                  function handleMouseMove(event) {
                    const x = event.clientX;
                    const height = document.documentElement.clientHeight;
                    const value = x / height;
                    updateHolographicBackground(value);
                  }
              </script>
              -->
              {%for i in range(1, entries)%}
                <!--<div class="card" id="holographic" onmousemove="handleMouseMove(event)">-->
                <div class="card" id="holographic">
                  <a href="https://bulbapedia.bulbagarden.net/wiki/{{ pokedex[i]['name'] }}_(Pok%C3%A9mon)">
                   <img class="card--image" alt="sprite" src="{{ pokedex[i]['img_url'] }}" width="120" height="120">
                  </a>
                  <div class="card--name">{{pokedex[i]['name']}}</div>
                  <div class="card--id">{{pokedex[i]['export_id']}}</div>
                </div>
              {%endfor%}
            </div>

        </main>
    </body>
</html>
